# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Templates used for local testing should not be committed
**/src/main/resources/**/*.xlsx

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
/.idea/
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
misc.xml
modules.xml
.idea/modules.xml

### VS Code ###
.vscode/
**/.DS_Store

# Generated swagger - not to be committed in this repo
**/resources/static/swagger.yml

### Ignore generated static assets ###
src/main/resources/static/