logging:
  level:
    root: INFO
    org:
      springframework:
        security: INFO
        jdbc:
          core:
            JdbcTemplate: INFO
            StatementCreatorUtils: INFO
        transaction: INFO
        web.client.RestTemplate: INFO


gpfd:
  url: http://localhost:8080
  redirect-uri-template: ${gpfd.url}/login/oauth2/code/gpfd-azure-dev

  datasource:
    read-only:
      url: jdbc:h2:file:~/localGpfdDb;MODE=Oracle
      username: sa
      password:
      driver-class-name: org.h2.Driver
    write:
      url: jdbc:h2:file:~/localGpfdDb;MODE=Oracle
      username: sa
      password:
      driver-class-name: org.h2.Driver

spring:
  config:
    activate:
      on-profile: local
  security:
    oauth2:
      client:
        registration:
          gpfd-azure-dev:
            client-id: test
            client-secret: test
            scope: openid, profile, email
            redirect-uri:  ${gpfd.redirect-uri-template}
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_basic

        provider:
          gpfd-azure-dev:
            issuer-uri: https://login.microsoftonline.com/${AZURE_TENANT_ID}/v2.0

  main:
    allow-bean-definition-overriding: true

  h2:
    console:
      enabled:
        true
  jpa:
    database-platform:
      org.hibernate.dialect.Oracle12cDialect
    hibernate:
      ddl-auto:
        none
    generate-ddl: false
