logging:
  level:
    root: INFO
    org:
      springframework:
        security: INFO
        jdbc:
          core:
            JdbcTemplate: INFO
            StatementCreatorUtils: INFO
        transaction: INFO
        web.client.RestTemplate: INFO

spring:
  cloud:
    azure:
      active-directory:
        false: true
  liquibase:
    enabled: false
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    url: /swagger.yml

gpfd:
  # DEV MOJFIN database config (also used by GPFD in UAT):
  datasource:
    read-only:
      url: jdbc:oracle:thin:@RDS.MOJFIN.LAA-DEVELOPMENT.MODERNISATION-PLATFORM.SERVICE.JUSTICE.GOV.UK:1521/MOJFIN
      username: ${MOJFIN_DEV_READ_USERNAME}
      password: ${MOJFIN_DEV_READ_PASSWORD}
      driver-class-name: oracle.jdbc.OracleDriver
    write:
      url: jdbc:oracle:thin:@RDS.MOJFIN.LAA-DEVELOPMENT.MODERNISATION-PLATFORM.SERVICE.JUSTICE.GOV.UK:1521/MOJFIN
      username: ${MOJFIN_DEV_WRITE_USERNAME}
      password: ${MOJFIN_DEV_WRITE_PASSWORD}
      driver-class-name: oracle.jdbc.OracleDriver

