gpfd:
  url: https://laa-get-payments-finance-data-dev.apps.live.cloud-platform.service.justice.gov.uk
  #This is the url which the Active directory dev app registration will redirect to after SSO is complete
  redirect-uri-template: ${gpfd.url}/login/oauth2/code/gpfd-azure-dev
  # Note,"gpfd-azure-dev" is also known as the Oauth2 'registrationId'

  # DEV MOJFIN database config (also used by GPFD in UAT):
  datasource:
    read-only:
          url: jdbc:oracle:thin:@RDS.MOJFIN.LAA-DEVELOPMENT.MODERNISATION-PLATFORM.SERVICE.JUSTICE.GOV.UK:1521/MOJFIN
          username: ${MOJFIN_DEV_READ_USERNAME}
          password: ${MOJFIN_DEV_READ_PASSWORD}
          driver-class-name: oracle.jdbc.OracleDriver
    write:
      url: jdbc:oracle:thin:@RDS.MOJFIN.LAA-DEVELOPMENT.MODERNISATION-PLATFORM.SERVICE.JUSTICE.GOV.UK:1521/MOJFIN
      username: ${MOJFIN_DEV_WRITE_USERNAME}
      password: ${MOJFIN_DEV_WRITE_PASSWORD}
      driver-class-name: oracle.jdbc.OracleDriver

# Azure AD and Graph config
spring:
  cloud:
    azure:
      active-directory:
        enabled: true
        profile:
          tenant-id: ${AZURE_TENANT_ID}
        credential:
          client-id: ${AZURE_CLIENT_ID}
          client-secret: ${AZURE_CLIENT_SECRET}
        redirect-uri-template: ${gpfd.redirect-uri-template}
        authorization-clients:
          graph:
            scopes:
              - https://graph.microsoft.com/User.Read
