logging:
  level:
    root: INFO
    org:
      springframework:
        security: INFO
        jdbc:
          core:
            JdbcTemplate: INFO
            StatementCreatorUtils: INFO
        transaction: INFO
        web.client.RestTemplate: INFO


gpfd:
  datasource:
    read-only:
      url: jdbc:oracle:thin:@RDS.MOJFIN.LAA-DEVELOPMENT.MODERNISATION-PLATFORM.SERVICE.JUSTICE.GOV.UK:1521/MOJFIN
      username: ${MOJFIN_DEV_READ_USERNAME}
      password: ${MOJFIN_DEV_READ_PASSWORD}
      driver-class-name: oracle.jdbc.OracleDriver
    write:
      url: jdbc:oracle:thin:@RDS.MOJFIN.LAA-DEVELOPMENT.MODERNISATION-PLATFORM.SERVICE.JUSTICE.GOV.UK:1521/MOJFIN
      username: ${MOJFIN_DEV_WRITE_USERNAME}
      password: ${MOJFIN_DEV_WRITE_PASSWORD}
      driver-class-name: oracle.jdbc.OracleDriver

spring:
  cloud:
    azure:
      active-directory:
        enabled: true
        # Stubbed azure content is not used but needed for it to compile right now
        profile:
          tenant-id: ${AZURE_TENANT_ID}
        credential:
          client-id: ${AZURE_CLIENT_ID}
          client-secret: ${AZURE_CLIENT_SECRET}
        redirect-uri-template: ${gpfd.redirect-uri-template}
        authorization-clients:
          graph:
            scopes:
              - https://graph.microsoft.com/User.Read