gpfd:
  redirect-uri-template: https://laa-pay-for-la-dev.apps.live.cloud-platform.service.justice.gov.uk/login/oauth2/code/gpfd-azure-dev
  # Note,"gpfd-azure-dev" is also known as the Oauth2 'registrationId'

#SSL configuration
logging:
  level:
    root: INFO
    org:
      springframework:
        security: DEBUG
        jdbc:
          core:
            JdbcTemplate: DEBUG
            StatementCreatorUtils: DEBUG
        transaction: DEBUG
#    org.springframework: INFO
#    org.springframework.security: INFO #TRACE
    org.springframework.web.client.RestTemplate: DEBUG


server:
  port: 8443
  forward-headers-strategy: native # not sure if needed
  shutdown: graceful
  servlet:
    session:
      cookie:
        secure: true
  ssl:
    key-store: classpath:gpfd-ssl-keystore.p12
    key-store-password: ${SSL-DEV-KEY-STORE-PASSWORD}
    key-store-type: PKCS12
    key-alias: gpfd-dev-ssl-key
    key-password: ${SSL-DEV-KEY-STORE-PASSWORD}



# Azure AD and Graph config
spring:
  cloud:
    azure:
      active-directory:
        enabled: true
        profile:
          tenant-id: ${AZURE_TENANT_ID}
        credential:
          client-id: ${AZURE_CLIENT_ID}
          client-secret: ${AZURE_CLIENT_SECRET}
        redirect-uri-template: ${gpfd.redirect-uri-template}
        authorization-clients:
          graph:
            scopes:
              - https://graph.microsoft.com/User.Read

  # DEV MOJFIN database config
  datasource:
    read-only:
      url: jdbc:oracle:thin:@RDS.MOJFIN.LAA-DEVELOPMENT.MODERNISATION-PLATFORM.SERVICE.JUSTICE.GOV.UK:1521/MOJFIN
      username: ${MOJFIN_DEV_READ_USERNAME}
      password: ${MOJFIN_DEV_READ_PASSWORD}
      driver-class-name: oracle.jdbc.OracleDriver
    write:
      url: jdbc:oracle:thin:@RDS.MOJFIN.LAA-DEVELOPMENT.MODERNISATION-PLATFORM.SERVICE.JUSTICE.GOV.UK:1521/MOJFIN
      username: ${MOJFIN_DEV_WRITE_USERNAME}
      password: ${MOJFIN_DEV_WRITE_PASSWORD}
      driver-class-name: oracle.jdbc.OracleDriver





