# Azure AD and Graph config
spring:
  cloud:
    azure:
      credential:
        client-secret: ${AZURE_CLIENT_SECRET}
        client-id: ${AZURE_CLIENT_ID}
      profile:
        tenant-id: ${AZURE_TENANT_ID}

      active-directory:
        enabled: true
        authorization-clients:
          graph:
            scopes:
              - https://graph.microsoft.com/User.Read
        post-logout-redirect-uri: /

#server:
#  port: 8080
#  forward-headers-strategy: native