gpfd:
  url: https://uat.get-legal-aid-data.service.justice.gov.uk
  redirect-uri-template: ${gpfd.url}/login/oauth2/code/gpfd-azure-uat

  # MOJFIN database config
  datasource:
    read-only:
      url: ${MOJFIN_DB_URL}
      username: ${MOJFIN_DEV_READ_USERNAME}
      password: ${MOJFIN_DEV_READ_PASSWORD}
      driver-class-name: oracle.jdbc.OracleDriver
    write:
      url: ${MOJFIN_DB_URL}
      username: ${MOJFIN_DEV_WRITE_USERNAME}
      password: ${MOJFIN_DEV_WRITE_PASSWORD}
      driver-class-name: oracle.jdbc.OracleDriver

spring:
  liquibase:
    enabled: true
  cloud:
    azure:
      active-directory:
        enabled: true
        profile:
          tenant-id: ${AZURE_TENANT_ID}
        credential:
          client-id: ${AZURE_CLIENT_ID}
          client-secret: ${AZURE_CLIENT_SECRET}
        redirect-uri-template: ${gpfd.redirect-uri-template}
        authorization-clients:
          graph:
            url: https://graph.microsoft.com/
            scopes:
              - User.Read

server:
  port: 8080
  forward-headers-strategy: native # not sure if needed
  shutdown: graceful
  servlet:
    session:
      cookie:
        secure: true
