<div xmlns:th="http://www.thymeleaf.org" lang="en"
     th:replace="~{application :: layout(~{::content})}">
    <section th:fragment="content">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-l">Cookies</h1>

                    <p class="govuk-body">
                        <a href="https://laa-get-payments-finance-data.cloud-platform.service.justice.gov.uk/ui/reports" target="_blank" rel="noreferrer noopener">
                            Get legal aid data
                        </a> puts small files (known as ‘cookies’) on your computer.
                    </p>

                    <p class="govuk-body">
                        These cookies are used across the
                        <a href="https://laa-get-payments-finance-data.cloud-platform.service.justice.gov.uk/ui/reports" target="_blank" rel="noreferrer noopener">
                            Get legal aid data
                        </a> website.
                    </p>

                    <p class="govuk-body">
                        We only set cookies when JavaScript is running in your browser and you’ve accepted them.
                        If you choose not to run JavaScript, the information on this page will not apply to you.
                    </p>

                    <p class="govuk-body">
                        Find out
                        <a href="https://ico.org.uk/for-the-public/online/cookies" target="_blank" rel="noreferrer noopener">
                            how to manage cookies
                        </a> from the Information Commissioner's Office.
                    </p>

                    <h2 class="govuk-heading-m">Essential cookies (strictly necessary)</h2>

                    <h3 class="govuk-heading-s">Session Cookie</h3>
                    <p class="govuk-body">
                        We use a session cookie to keep your session active while you navigate the site. This ensures that:
                    </p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>You remain logged in as you move between pages.</li>
                        <li>Your selections or actions (such as form inputs) are remembered during your visit.</li>
                        <li>The site functions correctly without requiring you to re-enter information repeatedly.</li>
                    </ul>

                    <p class="govuk-body">
                        This cookie is temporary and is deleted when you close your browser.
                    </p>

                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--s">
                            Essential cookies we use
                        </caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Purpose</th>
                            <th scope="col" class="govuk-table__header">Expires</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">session_cookie</td>
                            <td class="govuk-table__cell">Maintains state during your visit to this website</td>
                            <td class="govuk-table__cell">At the end of your session</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </section>
</div>
