<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>GOV.UK - Pay for Legal Aid</title>
    <!-- Reference static resources directly -->
    <link th:href="@{/govuk/govuk-frontend-5.11.0.min.css}" rel="stylesheet">
</head>
<body class="govuk-template__body">
<!-- Your content here -->

<!-- JavaScript at bottom -->
<script th:src="@{/govuk/govuk-frontend-5.11.0.min.js}"></script>
<script>
    window.GOVUKFrontend.initAll();
</script>
</body>
</html>