apiVersion: apps/v1
kind: Deployment
metadata:
  name: gpfd-${ENV_NAME}-deployment
  labels:
    app: gpfd-${ENV_NAME}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gpfd-${ENV_NAME}
  template:
    metadata:
      labels:
        app: gpfd-${ENV_NAME}
    spec:
      serviceAccountName: laa-get-payments-finance-data-${ENV_NAME}-service
      containers:
        - name: gpfd-api-container-${ENV_NAME}
          image: ${REGISTRY}/${REPOSITORY}:${IMAGE_TAG}
          ports:
            - containerPort: 8080
          env:
            - name: GPFD_URL
              value: ${GPFD_URL}
            - name: SPRING_PROFILES_ACTIVE
              value: ${ENV_NAME}
            - name: AZURE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: ${SECRET_NAME}
                  key: client-secret-${ENV_NAME}
            - name: AZURE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: ${SECRET_NAME}
                  key: client-id-${ENV_NAME}
            - name: AZURE_TENANT_ID
              valueFrom:
                secretKeyRef:
                  name: ${SECRET_NAME}
                  key: tenant-id-${ENV_NAME}
            - name: MOJFIN_DEV_READ_USERNAME
              valueFrom:
                secretKeyRef:
                  name: ${SECRET_NAME}
                  key: mojfin-dev-read-username
            - name: MOJFIN_DEV_READ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ${SECRET_NAME}
                  key: mojfin-dev-read-password
            - name: MOJFIN_DEV_WRITE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: ${SECRET_NAME}
                  key: mojfin-dev-write-username
            - name: MOJFIN_DEV_WRITE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ${SECRET_NAME}
                  key: mojfin-dev-write-password
            - name: MOJFIN_DB_URL
              valueFrom:
                secretKeyRef:
                  name: ${SECRET_NAME}
                  key: mojfin-db-url
          securityContext:
            capabilities:
              drop:
              - ALL
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            seccompProfile:
              type: RuntimeDefault
