apiVersion: v1
kind: ConfigMap
metadata:
  name: gpfd-${ENV_NAME}-ingress
  namespace: laa-get-payments-finance-data-dev
data:
  enable-conn-limit: "true"
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: gpfd-${ENV_NAME}-ingress
  annotations:
    external-dns.alpha.kubernetes.io/set-identifier: gpfd-${ENV_NAME}-ingress-${NAMESPACE}-green
    external-dns.alpha.kubernetes.io/aws-weight: "100"
    nginx.ingress.kubernetes.io/backend-protocol: http
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/limit-connections: "4"
    nginx.ingress.kubernetes.io/limit-conn-status: "429"

spec:
  ingressClassName: default
  tls:
    - hosts:
      - '${GPFD_URL}'
  rules:
    - host: '${GPFD_URL}'
      http:
        paths:
        - path: /
          pathType: ImplementationSpecific
          backend:
            service:
              name: gpfd-${ENV_NAME}-service
              port:
                number: 8080

