name: Deploy to Test Environment

on:
  push:
    branches:
      - 'test-*'

jobs:
  build-and-deploy-to-testable:
    environment: development
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    env:
      USERNAME: ${{ secrets.OPENAPI_PACKAGE_USER }}
      PASSWORD: ${{ secrets.OPENAPI_PACKAGE_PASSWORD }}
      BRANCH_NAME: ${{ github.ref_name }}

    steps:
      - name: Checkout Github Repository
        uses: actions/checkout@v4

      - name: Build and test the code
        uses: './.github/build-and-test'

      - name: Run Snyk security suite
        uses: './.github/snyk-scan'
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Set Spring profile
        run: echo "SPRING_PROFILES_ACTIVE=dev" >> $GITHUB_ENV

      - uses: './.github/login-to-aws'
        env:
          ROLE: ${{ secrets.DEV_ECR_ROLE_TO_ASSUME }}
          AWS_REGION: ${{ vars.DEV_ECR_REGION }}

      - name: Login to container repository
        uses: aws-actions/amazon-ecr-login@v2
        id: login-ecr

      - name: Build the docker image and push it to the repository
        uses: './.github/build-push-docker-image'
        env:
          REPOSITORY: ${{ vars.DEV_ECR_REPOSITORY }}
          IMAGE_TAG: ${{ github.sha }}
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}

      - name: Generate Kubernetes files from templates
        env:
          IMAGE_TAG: ${{ github.sha }}
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: ${{ vars.DEV_ECR_REPOSITORY }}
          NAMESPACE: ${{ secrets.KUBE_NAMESPACE_DEV }}
          GPFD_URL: https://dev.get-legal-aid-data.service.justice.gov.uk
        run: |
          cat deployments/dev/deployment.tpl | envsubst > deployments/dev/deployment-${BRANCH_NAME}.yml
          cat deployments/dev/ingress.tpl | envsubst > deployments/dev/ingress-${BRANCH_NAME}.yml
          cat deployments/dev/service.tpl | envsubst > deployments/dev/service-${BRANCH_NAME}.yml

      - name: Authenticate with Cloud Platform and Deploy
        env:
          KUBE_NAMESPACE: ${{ secrets.KUBE_NAMESPACE_DEV }}
          KUBE_CLUSTER: ${{ secrets.KUBE_CLUSTER_DEV }}
        run: |
          echo "${{ secrets.KUBE_CERT_DEV }}" > ca.crt
          kubectl config set-cluster ${KUBE_CLUSTER} --certificate-authority=./ca.crt --server=https://${KUBE_CLUSTER}
          kubectl config set-credentials deploy-user --token=${{ secrets.KUBE_TOKEN_DEV }}
          kubectl config set-context ${KUBE_CLUSTER} --cluster=${KUBE_CLUSTER} --user=deploy-user --namespace=${KUBE_NAMESPACE}
          kubectl config use-context ${KUBE_CLUSTER}
          kubectl -n ${KUBE_NAMESPACE} apply -f deployments/dev/deployment-${BRANCH_NAME}.yml
          kubectl -n ${KUBE_NAMESPACE} apply -f deployments/dev/ingress-${BRANCH_NAME}.yml
          kubectl -n ${KUBE_NAMESPACE} apply -f deployments/dev/service-${BRANCH_NAME}.yml
