name: Deploy API to Environment

on:
  workflow_call:
    inputs:
      github_environment:
        type: string
        required: true
      environment_name:
        type: string
        required: true
      gpfd_url:
        type: string
        required: true
      alert_severity:
        type: string
        required: true
      secret_name:
        type: string
        required: true
    secrets:
      api_socket_key:
        required: true
      snyk_token:
        required: true
      socket_key:
        required: true
      ecr_role_to_assume:
        required: true
      kube_namespace:
        required: true
      kube_cluster:
        required: true
      kube_token:
        required: true
      kube_cert:
        required: true

jobs:
  build-and-deploy:
    environment: ${{ inputs.github_environment }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout

    steps:
      - name: Checkout Github Repository
        uses: actions/checkout@v5

      - name: Build and test the code
        uses: './.github/build-and-test'
        env:
          SOCKET_KEY: ${{ secrets.api_socket_key }}

      - name: Run Snyk security suite
        uses: './.github/snyk-scan'
        env:
          SNYK_TOKEN: ${{ secrets.snyk_token }}

      - name: Set Spring profile
        run: echo "SPRING_PROFILES_ACTIVE=${{ inputs.environment_name }}" >> $GITHUB_ENV

      - uses: './.github/login-to-aws'
        env:
          ROLE: ${{ secrets.ecr_role_to_assume }}
          AWS_REGION: ${{ vars.ECR_REGION }}

      - name: Login to container repository
        uses: aws-actions/amazon-ecr-login@v2
        id: login-ecr

      - name: Build the docker image and push it to the repository
        uses: './.github/build-push-docker-image'
        env:
          REPOSITORY: ${{ vars.ECR_REPOSITORY }}
          IMAGE_TAG: ${{ github.sha }}
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          SOCKET_KEY: ${{ secrets.api_socket_key }}

      - name: Generate Kubernetes files from templates
        env:
          IMAGE_TAG: ${{ github.sha }} # Tags ECR image with commit sha
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: ${{ vars.ECR_REPOSITORY }}
          NAMESPACE: ${{ secrets.kube_namespace }}
          ALERT_SEVERITY: ${{ inputs.alert_severity }}
          ENV_NAME: ${{ inputs.environment_name }}
          GPFD_URL: ${{ inputs.gpfd_url }}
          SECRET_NAME: ${{ inputs.secret_name }}
          DATA_REPOSITORY: ${{ vars.DATA_ECR_REPOSITORY }}
          PERMISSION_REP000_GROUP_ID: ${{ vars.PERMISSION_REP000_GROUP_ID }}
          PERMISSION_SUBMISSION_RECONCILIATION_GROUP_ID: ${{ vars.PERMISSION_SUBMISSION_RECONCILIATION_GROUP_ID }}
        run: |
          template_processing=(
            "ingress:ingress"
            "service:service"
            "service-monitor:service-monitor"
            "network-policy:network-policy"
            "prometheus-rules:prometheus-rules"
            "grafana-dashboard:grafana-dashboard:\$ENV_NAME,\$NAMESPACE"
            "deployment:deployment:\$ENV_NAME,\$SECRET_NAME,\$GPFD_URL,\$REGISTRY,\$REPOSITORY,\$IMAGE_TAG,\$DATA_REPOSITORY,\$PERMISSION_REP000_GROUP_ID,\$PERMISSION_SUBMISSION_RECONCILIATION_GROUP_ID"
          )
          
          for item in "${template_processing[@]}"; do
            IFS=':' read -r template output vars <<< "$item"
            input="deployments/templates/${template}.yml"
            output="deployments/${output}.yml"
          
            if [[ -n "$vars" ]]; then
              envsubst "$vars" < "$input" > "$output"
            else
              DOLLAR='$' envsubst < "$input" > "$output"
            fi
          done

      - name: Authenticate with Cloud Platform and Deploy
        env:
          KUBE_NAMESPACE: ${{ secrets.kube_namespace }}
          KUBE_CLUSTER: ${{ secrets.kube_cluster }}
        run: |
          echo "${{ secrets.kube_cert }}" > ca.crt
          kubectl config set-cluster ${KUBE_CLUSTER} --certificate-authority=./ca.crt --server=https://${KUBE_CLUSTER}
          kubectl config set-credentials deploy-user --token=${{ secrets.kube_token }}
          kubectl config set-context ${KUBE_CLUSTER} --cluster=${KUBE_CLUSTER} --user=deploy-user --namespace=${KUBE_NAMESPACE}
          kubectl config use-context ${KUBE_CLUSTER}

          kubectl -n ${KUBE_NAMESPACE} apply -f deployments

      - name : Verify pod is running
        env:
          KUBE_NAMESPACE: ${{ secrets.kube_namespace }}
          ENV_NAME: "gpfd-${{ inputs.environment_name }}"
          DEPLOYMENT_NAME: "deployment/gpfd-${{ inputs.environment_name }}-deployment"
        run: |
              DEPLOYMENT_STATUS=$(kubectl rollout status ${DEPLOYMENT_NAME} -n ${KUBE_NAMESPACE} --timeout=45s)
              echo "Deployment: $DEPLOYMENT_STATUS"
              POD_STATUS=$(kubectl get pods -n ${KUBE_NAMESPACE} -l app=${ENV_NAME} -o jsonpath='{.items[*].status.phase}')
              READY_PODS=$(kubectl get pods -n ${KUBE_NAMESPACE} -l app=${ENV_NAME} --field-selector=status.phase=Running --no-headers | wc -l)
              
              echo "Pod statuses: $POD_STATUS"
              echo "Ready pods: $READY_PODS"

              if [[ "$POD_STATUS" == *"Running"* && $READY_PODS -gt 0 ]]; then
                echo "✅ pod is running"
                echo "pods_running=true" >> $GITHUB_OUTPUT
                exit 0
              else
                echo "::error::❌ No pods in Running state"
                echo "pods_running=false" >> $GITHUB_OUTPUT
                exit 0
              fi
