name: One to deploy them all

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  To_Dev:
    name: Deploy to dev
    uses: ./.github/workflows/deploy_api_to_env.yml
    with:
      github_environment: development
      environment_name: dev
      gpfd_url: dev-laa-get-payments-finance-data.cloud-platform.service.justice.gov.uk
      alert_severity: laa-get-legal-aid-data-dev
      secret_name: gpfd-test-secret-01
    secrets:
      api_socket_key: ${{ secrets.DEV_API_SOCKET_KEY }}
      snyk_token: ${{ secrets.SNYK_TOKEN }}
      socket_key: ${{ secrets.DEV_SOCKET_KEY }}
      ecr_role_to_assume: ${{ secrets.DEV_ECR_ROLE_TO_ASSUME }}
      kube_namespace: ${{ secrets.KUBE_NAMESPACE_DEV }}
      kube_cluster: ${{ secrets.KUBE_CLUSTER_DEV }}
      kube_token: ${{ secrets.KUBE_TOKEN_DEV }}
      kube_cert: ${{ secrets.KUBE_CERT_DEV }}

  To_Uat:
    name: Deploy to UAT
    needs: To_Dev
    uses: ./.github/workflows/deploy_api_to_env.yml
    with:
      github_environment: uat
      environment_name: uat
      gpfd_url: uat-laa-get-payments-finance-data.cloud-platform.service.justice.gov.uk
      alert_severity: laa-get-legal-aid-data-uat
      secret_name: gpfd-uat-secret-01
    secrets:
      api_socket_key: ${{ secrets.UAT_API_SOCKET_KEY }}
      snyk_token: ${{ secrets.SNYK_TOKEN }}
      socket_key: ${{ secrets.UAT_SOCKET_KEY }}
      ecr_role_to_assume: ${{ secrets.UAT_ECR_ROLE_TO_ASSUME }}
      kube_namespace: ${{ secrets.KUBE_NAMESPACE_UAT }}
      kube_cluster: ${{ secrets.KUBE_CLUSTER_UAT }}
      kube_token: ${{ secrets.KUBE_TOKEN_UAT }}
      kube_cert: ${{ secrets.KUBE_CERT_UAT }}

  To_Prod:
    name: Deploy to prod
    needs: To_Uat
    uses: ./.github/workflows/deploy_api_to_env.yml
    with:
      github_environment: prod
      environment_name: prod
      gpfd_url: laa-get-payments-finance-data.cloud-platform.service.justice.gov.uk
      alert_severity: laa-get-legal-aid-data-prod
      secret_name: gpfd-prod-secret-01
    secrets:
      api_socket_key: ${{ secrets.PROD_API_SOCKET_KEY }}
      snyk_token: ${{ secrets.SNYK_TOKEN }}
      socket_key: ${{ secrets.PROD_SOCKET_KEY }}
      ecr_role_to_assume: ${{ secrets.PROD_ECR_ROLE_TO_ASSUME }}
      kube_namespace: ${{ secrets.KUBE_NAMESPACE_PROD }}
      kube_cluster: ${{ secrets.KUBE_CLUSTER_PROD }}
      kube_token: ${{ secrets.KUBE_TOKEN_PROD }}
      kube_cert: ${{ secrets.KUBE_CERT_PROD }}
