name: Feature build and test
on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]

env:
  USERNAME: ${{ secrets.USERNAME}}
  PASSWORD: ${{ secrets.PASSWORD}}

jobs:
  feature_branch:

    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub repository
        uses: actions/checkout@v4

      - name: Build and test
        uses: './.github/build-and-test'

      - name: Snyk Scan
        uses: './.github/snyk-scan'
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN}}
