name: Tear Down Test Environment

on: delete

env:
  KUBE_NAMESPACE: ${{ secrets.KUBE_NAMESPACE_DEV }}

jobs:
  cleanup-testable:
    if: |
      (github.event.ref_type == 'branch' && startsWith(github.ref, 'refs/heads/test-'))
    environment: development
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Github Repository
        uses: actions/checkout@v5

      - name: Authenticate with Cloud Platform
        env:
          KUBE_CLUSTER: ${{ secrets.KUBE_CLUSTER_DEV }}
        run: |
          echo "${{ secrets.KUBE_CERT_DEV }}" > ca.crt
          kubectl config set-cluster ${KUBE_CLUSTER} --certificate-authority=./ca.crt --server=https://${KUBE_CLUSTER}
          kubectl config set-credentials deploy-user --token=${{ secrets.KUBE_TOKEN_DEV }}
          kubectl config set-context ${KUBE_CLUSTER} --cluster=${KUBE_CLUSTER} --user=deploy-user --namespace=${KUBE_NAMESPACE}
          kubectl config use-context ${KUBE_CLUSTER}

      - name: Delete Kubernetes resources
        env:
          BRANCH_NAME: ${{ github.ref}}
        run: kubectl delete service,ingress,pod,deployment -l branch=${BRANCH_NAME} -n ${KUBE_NAMESPACE} --grace-period=0 --force --ignore-not-found=true
