name: Tear Down Test Environment

on:
  pull_request:
    types:
      - closed

env:
  KUBE_NAMESPACE: ${{ secrets.KUBE_NAMESPACE_DEV }}
  PREFIX: 'test-'

jobs:
  cleanup-testable:
    environment: development
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Github Repository
        uses: actions/checkout@v4

      - name: Authenticate with Cloud Platform
        if:  startsWith(github.head_ref, env.PREFIX)
        env:
          KUBE_CLUSTER: ${{ secrets.KUBE_CLUSTER_DEV }}
        run: |
          echo "${{ secrets.KUBE_CERT_DEV }}" > ca.crt
          kubectl config set-cluster ${KUBE_CLUSTER} --certificate-authority=./ca.crt --server=https://${KUBE_CLUSTER}
          kubectl config set-credentials deploy-user --token=${{ secrets.KUBE_TOKEN_DEV }}
          kubectl config set-context ${KUBE_CLUSTER} --cluster=${KUBE_CLUSTER} --user=deploy-user --namespace=${KUBE_NAMESPACE}
          kubectl config use-context ${KUBE_CLUSTER}

      - name: Delete Kubernetes resources
        if:  startsWith(github.head_ref, env.PREFIX)
        env:
          BRANCH_NAME: ${{ github.head_ref }}
        run: |
          kubectl delete service -l branch=${BRANCH_NAME} -n ${KUBE_NAMESPACE} || true
          kubectl delete ingress -l branch=${BRANCH_NAME} -n ${KUBE_NAMESPACE} || true
          kubectl delete pods -l branch=${BRANCH_NAME} -n ${KUBE_NAMESPACE} || true
          kubectl delete deployment -l branch=${BRANCH_NAME} -n ${KUBE_NAMESPACE}
